* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #f0f8ff, #e0eafc); 
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    font-size: 2.5rem;
    color: #bd2167; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
    font-family: 'Georgia', serif;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: center;
    gap: 20px;
}

.blog-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #bd2167;
}

.blog-card h2 {
    font-size: 1.5rem;
    padding: 10px;
    background-color: #bd2167;
    color: white;
    text-align: center;
}

.blog-card p {
    padding: 15px;
    font-size: 1rem;
    color: #555;
}

.blog-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .blog-container {
        flex-direction: column;
        align-items: center;
    }

    .blog-card {
        width: 90%;
    }
}
